.inpProducts{
    width: 8.3rem;
}

.inpQuntity{
    width: 10rem;
}

.inpValue{
    width: 3.9rem;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 3px;

    input{
        height: 2rem;
        font-weight: 400;
        padding: 0.5rem;
        background-color: var(--gray-100);
        border-radius: 10px;
        border: 0;
    }
}